Source: poker-engine
Section: python
Priority: optional
Maintainer: Loic Dachary (OuoU) <loic@debian.org>
Build-Depends-Indep: debhelper (>= 4.0.0), cdbs, pkg-config, python, python2.3, python2.3-pypoker-eval (>= 127.0), python2.3-libxml2, python2.3-libxslt1, python2.4, python2.4-pypoker-eval (>= 127.0), python2.4-libxml2, python2.4-libxslt1, perl, automake1.7 | automake1.9, rsync
Standards-Version: 3.6.2.1

Package: python2.3-poker-engine
Section: python
Architecture: all
Depends: python, python2.3, python2.3-pypoker-eval (>= 127.0), python2.3-libxml2, python2.3-libxslt1, rsync
Description: multiplayer poker engine with abstract variants specifications
 poker-engine is a python library that implements poker rules according
 to variants and betting structures specified in configuration files.
 It designed to be used by a multiplayer poker server, a poker AI or a
 poker client.

Package: python2.4-poker-engine
Section: python
Architecture: all
Depends: python, python2.4, python2.4-pypoker-eval (>= 127.0), python2.4-libxml2, python2.4-libxslt1, rsync
Description: multiplayer poker engine with abstract variants specifications
 poker-engine is a python library that implements poker rules according
 to variants and betting structures specified in configuration files.
 It designed to be used by a multiplayer poker server, a poker AI or a
 poker client.
