Source: poker-engine
Section: python
Priority: optional
Maintainer: Hannes <hannes@pokermania.de>
Build-Depends: debhelper, python (>= 2.6.6), python-libxml2, python-libxslt1, python-pypoker-eval (>= 132.0), python-poker-reflogging, rsync, python-coverage, python-poker-distutils (>=0.1.1-1)
Standards-Version: 3.9.1
Homepage: http://github.com/pokermania/poker-network

Package: python-poker-engine
Section: python
Architecture: all
Conflicts: python2.3-poker-eval (<< 1.0.16), python2.4-poker-engine (<< 1.0.16), poker-engine-common
Depends: ${misc:Depends}, python (>= 2.6.6), python-libxml2, python-libxslt1, python-pypoker-eval (>= 132.0), python-poker-reflogging, rsync
Description: multiplayer poker engine with abstract variants specifications
 poker-engine is a Python library that implements poker rules according
 to variants and betting structures specified in configuration files.
 It designed to be used by a multiplayer poker server, a poker AI or a
 poker client.
