Source: poker-engine
Section: python
Priority: optional
Maintainer: Hannes <hannes@pokermania.de>
X-Python-Version: >= 2.6, << 3.0
Build-Depends:
    debhelper,
    python-all,
    python-libxml2,
    python-libxslt1,
    python-pypoker-eval (>= 132.0),
    python-poker-reflogging,
    rsync,
    python-coverage,
    python-poker-distutils (>=0.1.2-1)
Standards-Version: 3.9.1
Homepage: http://github.com/pokermania/poker-network

Package: python-poker-engine
Section: python
Architecture: all
Provides: ${python:Provides}
Depends:
    ${misc:Depends},
    ${python:Depends},
    python-libxml2,
    python-libxslt1,
    python-pypoker-eval (>= 132.0),
    python-poker-reflogging,
    rsync
Description: multiplayer poker engine with abstract variants specifications
 poker-engine is a Python library that implements poker rules according
 to variants and betting structures specified in configuration files.
 It designed to be used by a multiplayer poker server, a poker AI or a
 poker client.
