#!/usr/bin/make -f
# -*- makefile -*-

COVERAGE=/usr/bin/env python-coverage

PYTHON2=$(shell pyversions -vr)

%: locales
	dh $@ --buildsystem=python_distutils --with=python2

locales:
	cd po ; make

override_dh_auto_test: locales
	$(COVERAGE) run setup.py test
	$(COVERAGE) report pokerengine/*.py
	rm .coverage
